.container {
    display: grid;
    grid-template-columns: auto 100px 1fr;
    gap: 5px;
    justify-content: center;

}

.box {
    background-color: rgb(35, 226, 162);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid rgb(249, 246, 246);
}

h1 {
    text-align: center;
    color: rgb(3, 14, 34);
}