.title1 {
    background-color: bisque;
    border-radius: 10px;
    border-style: ridge;
    margin: 15px;
    text-align: center;
    background-image: url(image1.png);
    opacity: 0.8;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 50px;
    padding-top: 20px;

}

h2 {
    text-align: center;
}

.box1 {
    text-align: center;
}


.box2 {
    padding: 20px;
    color: bisque;
}



.box4 {
    padding: 20px;
    color: bisque;
}

footer {
    padding: 20px;
    padding-top: 20px;
    text-align: end;
    background-color: black;
    color: white;
}

.title2 {
    background-color: lightblue;
    border-radius: 10px;
    border-style: ridge;
    text-align: start;
    margin: 15px;
    background-image: url(5.png);
    opacity: 0.8;
    background-position: center;
    background-size: cover;

    #hi {
        color: black;
    }

    .f1 {
        text-align: center;
    }

    .f2 {
        text-align: center;
    }

    .f3 {
        padding: 20px;
        color: white;
    }

    .f5 {
        text-align: center;
    }

    .f4 {
        padding: 20px;
        color: white;
    }
}

.title3 {
    background-color: black;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
    background-image: url(image\ copy\ 3.png);
    opacity: 0.8;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;

}

.v1 {
    color: red;
}

.v2 {
    color: black;
}

.v3 {
    color: whitesmoke;
    text-align: center;
}

.v4 {
    color: whitesmoke;
    padding: 20px;
    text-align: start;
}

.v5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footo {
    text-align: center;
}

.box3 {
    text-align: center;

}

.duc1 {
    text-align: left;
}

.car1 {
    border-radius: 5px;
}